@import '../../../../variables.scss';

.validation-card {
    display: inline-block;

    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2em;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1.5px $light-grey solid;

    -webkit-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
}

.validate-card-drop-btn {
    border: none;
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;

    font-size: 17px;
    font-weight: 600;
}

.validate-card-drop-btn:active, .validate-card-drop-btn:focus {
    outline: none !important;
    box-shadow: none;
}

.collapse-user-validation {
    display: hidden !important;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.5em;

    font-size: 15px;

    border-top: 1px solid $light-grey;
    color: $grey;
}

.validate-row {
    width: 100%;
    display: flex;
}

.validate-cell {
    flex: 1;
    white-space: nowrap;
    min-width: 50%;
    overflow: hidden;
}

span {
    margin-left: 10px;
    color: black;
}

.validate-user-btns {
    margin-top: 1.3em;
}

.refuse-user-btn {
    background-color: $red;
    margin-left: 1em;
}

.validate-user-btn {
    background-color: $dark-blue;
    color: white;
    margin-left: 2em;
}