// Colors
$red: #ff1738;
$dark-red: #921918;
$grey: #9c988E;
$light-grey: #cdcdcd;
$blue: #4038ff;
$light-blue: #7b76ff;
$dark-blue: #100b7a;
$yellow: #ffc717;
$dark-yellow: #ffd95f;
$light-yellow: #af8500;
$green: #4fff17;
$dark-green: #249400;
$light-green: #af8500;

// Fonts
$f-roboto: 'Roboto', sans-serif;
$f-sans-serif: 'Open Sans', sans-serif;