<div style="margin-top: 3em;">
    <app-admin-uservalidation-validationcard *ngFor="let user of user_to_validate_list" [user]="user" (ask_reload)="reload_user_list($event)"></app-admin-uservalidation-validationcard>
    <div *ngIf="user_to_validate_list.length == 0" class="no-user">
        <h2>No Users to validate</h2>
    </div>
</div>
