<!-- Page Header -->
<div class="index-header">
    <div class="header-logo-container">
        <h3><img class="header-index-logo" src="assets/images/red-cactus-logo.png" alt=""> {{page_title}}</h3>
    </div>
    
    <div class="user-dash-navbar-links">
        <ul class="user-dash-navbar-list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div>
</div>

<!-- Alerts -->
<div class="alert alert-success" role="alert" id="project-creation-success-alert" *ngIf="show_success_alert">
    {{success_msg}}
</div>
<div class="alert alert-danger" role="alert" id="project-creation-danger-alert" *ngIf="show_danger_alert">
    {{danger_msg}}
</div>
<div class="alert alert-warning" role="alert" id="project-creation-warning-alert" *ngIf="show_warning_alert">
    {{warning_msg}}
</div>

<div class="add-project-btn-holder">
    <button class="btn btn-add-project" data-toggle="modal" data-target="#create-project-modal" (click)="open_create_project_modal()">Create Project</button>
</div>

<div class="project-holder">
    <app-project-card></app-project-card>
</div>

<div class="modal" id="create-project-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Project Modal</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form (submit)="create_project($event)">
            <div class="form-group">
              <label for="input-project-name">Project Name</label>
              <input type="text" class="form-control" id="input-project-name" placeholder="Project Name">
            </div>
            <div class="form-group">
              <label for="input-project-description">Project Description</label>
              <input type="text" class="form-control" id="input-project-description" placeholder="Project Description">
            </div>
            <div class="form-group">
              <label for="input-project-image">Project Image</label>
              <input type="file" accept="image/*" class="form-control-file" id="input-project-image">
            </div>
            <button type="submit" class="btn btn-primary">Edit Project</button>
          </form>
        </div>
      </div>
    </div>
  </div>