@import "../../../../variables.scss";

.index-header {
    width: 100%;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    background-color: $red;
    color: white;
    font-family: $f-roboto;
    -webkit-box-shadow: -3px 3px 32px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 32px 5px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 32px 5px rgba(0,0,0,0.75);
}

.header-logo-container {
    display: inline-block; 
    width: 30%;
}

.header-index-logo {
    max-height: 1.3em;
    margin-right: 15px;
}

.user-dash-navbar-links {
    float: right;
    display: inline-block;
}

.user-dash-navbar-list {
    text-align: right;
    list-style: none;
    padding: 0;
    padding-right: 2em;
}

.user-dash-navbar-list > li {
    display: inline-block;
    margin-left: 2em;
    font-size: 1.3em;
}

.user-dash-navbar-list > li > a{
    text-decoration: none;
    color: white;
}

.user-dash-navbar-list > li > a:hover{
    text-decoration: underline;
}

.add-project-btn-holder {
    text-align: center;
    margin-top: 2em;
}

.btn-add-project {
    color: white;
    font-size: 18px;
    background-color: $dark-red;
    width: 30%;
    max-width: 350px;
    min-width: 150px;
}

.project-holder {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}