@import "../../../../variables.scss";

.index-header {
    width: 100%;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    background-color: $red;
    color: white;
    font-family: $f-roboto;
    -webkit-box-shadow: -3px 3px 32px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 32px 5px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 32px 5px rgba(0,0,0,0.75);
}

.header-index-logo {
    max-height: 1.3em;
    margin-right: 15px;
}

.admin-dash-navbar-links {
    float: right;
    display: inline-block;
}

.admin-dash-navbar-list {
    text-align: right;
    list-style: none;
    padding: 0;
    padding-right: 2em;
}

.admin-dash-navbar-list > li {
    display: inline-block;
    margin-left: 2em;
    font-size: 1.3em;
}

.admin-dash-navbar-list > li > a{
    text-decoration: none;
    color: white;
}

.admin-dash-navbar-list > li > a:hover{
    text-decoration: underline;
}

.admin-sidebar {
    background-color: $dark-red;
    padding-top: 3em;
    color: white;
    font-family: $f-sans-serif;
    display: inline-block; 
    height: 100%; 
    flex: 1;
}

.admin-sidebar > ul {
    list-style: none;
    padding: 0;
}

.admin-sidebar > ul > li {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    font-size: 1.1em;
}

.admin-sidebar > ul > li:hover {
    background-color: $red;
}