<!-- Page Header -->
<div class="index-header">
    <div style="display: inline-block; widht: 30%">
        <h3><img class="header-index-logo" src="assets/images/red-cactus-logo.png" alt=""> Admin Dashboard</h3>
    </div>
    
    <div class="admin-dash-navbar-links">
        <ul class="admin-dash-navbar-list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div>
</div>

<div style="height: 92.4%; display: flex;">
    <div class="admin-sidebar">
        <ul>
            <li [routerLink]="[{ outlets: { admin: ['dashboard'] } }]"><a>Dashboard</a></li>
            <li [routerLink]="[{ outlets: { admin: ['uservalidation'] } }]"><a>User Validation</a></li>
            <li><a>Pentest Projects</a></li>
        </ul>
    </div>
            
    <div style="display: inline-block; flex: 3; overflow: auto;">
        <router-outlet name="admin"></router-outlet>
    </div>
</div>




