@import "../../../../variables.scss";


@media (max-width: 1200px) {
    .project-card {
        display: flex !important;
        width: 90% !important;
        margin-right: 5% !important;
        margin-left: 5% !important;
    }
}

@media (max-width: 600px) {
    .project-card {
        
    }
}

.project-card {
    display: inline-flex;
    width: 40%;
    cursor: pointer;

    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3em;

    border: 0.8px solid $light-grey;
    padding-left: 1.3em;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-box-shadow: 0px 2px 70px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 70px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 70px -20px rgba(0,0,0,0.75);
}

.logo-holder {
    flex: 2;
}

.project-logo {
    width: 75%;
    height: auto;
    max-width: 155px;
    max-height: 155px;


    border-radius: 50%;

    margin-top: 10%;
    margin-bottom: 1em;
    margin-left: 5%;
}

.project-information-holder {
    flex: 3;
    
    padding-top: 2em;
}

.stats-holder {
    width: 60%;
}

.project-information-holder > div {
    display: flex;
}

.project-information-holder > div > div {
    flex: 1;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.project-information-holder > div > div > h4 {
    color: $light-blue;
    font-size: 21px;
}

.project-information-holder > div > div > p {
    font-size: 18px;
    font-weight: 600;
}

.project-btn-holder {
    flex: 1;
    z-index: 15;
}

.project-btn-holder > button {
    display: block;
    width: 100%;
    height: 33%;
    font-weight: 600;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.project-btn-holder > button:hover {
    background-color: $light-grey;
    color: black;
}

.btn-add-user {
    color: $grey;
}

.btn-edit-project {
    color: $grey;
}

.btn-delete-project {
    color: $grey;
}