@import "../../../variables.scss";

.index-header {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $red;
    color: white;
    font-family: $f-roboto;
}

.header-index-logo {
    max-height: 1.3em;
    margin-right: 15px;
}

.index-connexion-holder {
    margin-top: 10em;
    width: 60%;
    margin-left: 22.5%;
}

.btn-index-login {
    width: 10em;
    margin-right: 2em;
}

.register-form-account-holder > div {
    width: 100%;
}

.regsiter-form-item {
    display: inline-block;
    width: 45%;
}

.register-form-account-holder > div > div:nth-child(odd) {
    margin-right: 2em;
}

.form-check {
    margin-bottom: 0.8em;
}

@media (max-width: 535px) {
    .regsiter-form-item {
        display: block;
        width: 100%;
    }

    .register-form-account-holder > div > div:nth-child(odd) {
        margin-right: 0;
    }
}

