<!-- Page Header -->
<div class="index-header">
    <h1><img class="header-index-logo" src="assets/images/red-cactus-logo.png" alt=""> Cactaceae</h1>
</div>

<div class="alert alert-danger" role="alert" id="connexion-error" *ngIf='error_connexion_display'>
    An unexpected error happened... Please retry later or contact the administrator.
</div>
<div class="alert alert-warning" role="alert" id="connexion-alert" *ngIf='alert_connexion_display'>{{connexion_alert_msg}}</div>
<div class="alert alert-success" role="alert" *ngIf="success_connexion_display">{{connexion_success_msg}}</div>

<!-- Connexion management -->
<div class="index-connexion-holder">
    <div id="login-register-carousel" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Login Form -->
            <div class="carousel-item active">
                <form (submit)="login($event)">
                    <div class="form-group">
                        <label for="loginUsername">Username</label>
                        <input type="text" class="form-control" name="loginUsername" id="loginUsername" aria-describedby="emailHelp" placeholder="jdoe">
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" name="loginPassword" id="loginPassword" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="stay" name="loginStayConnected" id="loginStayConnected">
                        <label class="form-check-label" for="LoginStayConnected">
                            Stay Connected
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-index-login">Login</button>
                    <button class="btn btn-secondary" href="#login-register-carousel" role="button" data-slide="next">Register ?</button>
                </form>
            </div>

            <!-- Register Form -->
            <div class="carousel-item">
                <form (submit)="prepare_register($event)">
                    <div class="register-form-account-holder">
                        <h4>Account infos</h4>
                        <div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerUsername">Username</label>
                                <input type="text" class="form-control" name="registerUsername" id="registerUsername" placeholder="jdoe">
                            </div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerEmail">Email address</label>
                                <input type="email" class="form-control" name="registerEmail" id="registerEmail" placeholder="john.doe@red-cactus.io">
                            </div>
                        </div>
                        <div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerPassword">Password</label>
                                <input type="password" class="form-control" name="registerPassword" id="registerPassword" placeholder="***********">
                            </div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerPasswordVerify">Verify Password</label>
                                <input type="password" class="form-control" name="registerPasswordVerify" id="registerPasswordVerify" placeholder="***********">
                            </div>
                        </div>
                        <br>
                        <h4>Personnal Information</h4>
                        <div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerName">Name</label>
                                <input type="text" class="form-control" name="registerName" id="registerName" placeholder="John">
                            </div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerSurname">Surname</label>
                                <input type="text" class="form-control" name="registerSurname" id="registerSurname" placeholder="Doe">
                            </div>
                        </div>
                        <div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerPhone">Phone</label>
                                <input type="text" class="form-control" name="registerPhone" id="registerPhone" placeholder="+33 444 44 44 44">
                            </div>
                            <div class="form-group regsiter-form-item">
                                <label for="registerPost">Post in company</label>
                                <input type="text" class="form-control" name="registerPost" id="registerPost" placeholder="Business Manager">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
      </div>
</div>