@import "../../../../variables.scss";

.admin-dashboard-holder {
    text-align: left;
    padding-top: 3em;
    padding-left: 1em;
}

.admin-dashboard-holder > h2 {
    color: $dark-red;
    margin-left: 2em;
}

.admin-dash-user-info-holder {
    margin-top: 2em;
}

.user-stats-holder {
    display: flex;
}

.user-stats-holder > div {
    flex: 1;
    text-align: center;
    
}

.user-stats-holder > div > div > h3 {
    font-size: 23px;
    font-style: italic;
    margin-bottom: 1em;
}

.user-stats-holder > div > div {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    border: 2px $light-grey solid;
    text-align: center;
    padding: 1em;
    padding-top: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: -1px 3px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 32px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 32px -8px rgba(0,0,0,0.75);
}

.user-stats-holder > div > div > p {
    font-size: 2em;
}