<div class="admin-dashboard-holder">
    <div class="admin-dash-user-info-holder">
        <div class="user-stats-holder">
            <div>
                <div>
                    <h3>Connected User</h3>
                    <p>20</p>
                </div>
            </div>

            <div>
                <div>
                    <h3>Pending Validation</h3>
                    <p>5</p>
                </div>
            </div>

            <div>
                <div>
                    <h3>Registered Users</h3>
                    <p>10</p>
                </div>
            </div>
        </div>
    </div>
</div>